* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
}

body {
    font-family: -apple-system, "system-ui", ui-sans-serif, "Inter", sans-serif;
}

bg {
    z-index: -1;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: repeating-linear-gradient(
        45deg,
        rgb(255, 255, 255),
        rgb(255, 255, 255) 80px,
        rgb(0, 0, 245) 80px,
        rgb(0, 0, 245) 81px
    );
}

content {
    display: inline-block;
    background: white;
    color: black;
    padding: 22px;
    border: 1px solid rgb(0, 0, 245);
    border-radius: 10px;
    margin: 50px;
}

h1 {
    font-weight: 600;
    font-size: 15px;
    display: flex;
    gap: 0.2rem;
}

h1 span {
    color: rgb(160, 160, 160);
    font-weight: 300;
    margin-left: 3px;
}

h1 span.push {
    display: inline-block;
    margin-left: auto;
}

h1 span.push a {
    text-decoration: none;
    color: inherit;
}

line {
    display: block;
    background: repeating-linear-gradient(
        to right,
        rgb(240, 240, 240),
        rgb(240, 240, 240) 16px,
        rgb(255, 255, 255) 16px,
        rgb(255, 255, 255) 24px
    );
    height: 1px;
    margin: 14px 0 10px 0;
    min-width: 323px;
}

p {
    font-size: 15px;
    line-height: 20px;
}

.apple, .android {
    width: 15px;
    height: 15px;
    display: inline-block;
    color: rgb(140, 140, 140)
}

.apple {
    transform: translateY(2.5px);
    margin: 0 -1px;
}

.android {
    transform: translateY(4.5px);
    margin: 0 1px;
}

.contact {
    cursor: pointer;
    font-size: 15px;
}

.contacts {
    margin-right: 14px;
}

links {
    display: block;
    margin: 10px 0 0;
}

links a {
    color: rgb(0, 0, 245);
    font-size: 15px;
    text-decoration: none;
    transition: opacity 0.1s ease-in-out;
}

links a:visited {
    color: rgb(0, 0, 245);
}

links a:hover {
    opacity: 0.4;
}

links bullet {
    padding: 0 4px;
    color: rgb(200, 200, 200);
}

@media (max-width: 469px) {
    line {
        min-width: 0;
    }
    
    content {
        display: block;
        margin: 30px;
    }
}
